<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="" style="width: 90%;">
        <h2 class="mb-3">New Sign Up for CodeWars.com</h2>
        <p>To be able to participate in the tournament you must create a new account. Indeed, to be able to display a reliable ranking, we must be sure that the exercises have not already been validated on the participants' account.
          To create a new codewars account you will need an email. You can use the temporary email provided to you below. Once you have registered, remember to validate your account via the confirmation email sent to the temporary email box below. thanks and good luck
        </p>
        <p>
          <a href="https://www.codewars.com/join">Sign up for Codewars</a>
        </p>

        <iframe src="https://tmailor.com/fr" frameborder="0" style="width: 100%; height: 300px;"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
            
            </div>
            <div class="col-md-6">            
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.input :cw_nickname,
                      label: "Username codewars",
                      required: true %>
            </div>
            <div class="col-md-6">
              <%= f.input :role, collection: User.roles.keys,
                      required: true %>            
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.association :city_quarter,
                          label: "Batch",
                          required: true %>
            </div>
            <div class="col-md-6">
              <%= f.input :language, collection: User.languages.keys,
                      required: true %>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-danger text-white" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>